<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jolka Solver</title>
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <style>
        .crossword-preview {
            user-select: none;
        }

        .crossword-square {
            height: 35px;
            width: 35px;
            line-height: 35px;
            border: 1px solid grey;
            text-align: center;
            border-bottom-width: 0;
            border-right-width: 0;
            background: black;
        }

        .crossword-square.letter {
            background: white;
        }

        .crossword-square:last-child {
            border-right-width: 1px;
        }

        .crossword-row:last-child .crossword-square {
            border-bottom-width: 1px;
        }

        .draw-mode-changer {
            display: inline-block;
            border-bottom-width: 1px;
        }

        .crossword-word {
            text-transform: uppercase;
        }
    </style>
</head>
<body>
<section class="section" id="app">
    <h1 class="title">
        Jolka Solver
    </h1>

    <b-steps
            @input="solve()"
            v-model="activeStep"
            :animated="true"
            :has-navigation="false">
        <b-step-item step="1" label="Design crossword" :clickable="true">
            <div v-if="activeStep == 0">
                <h1 class="title has-text-centered">Design crossword</h1>
                <p class="subtitle has-text-centered">
                    Set the size of the crossword field (in <em>letter squares</em>unit), then draw the crossword.
                </p>
                <div class="container has-text-centered">
                    <div class="columns">
                        <div class="column">
                            <b-field label="Crossword width">
                                <b-numberinput v-model="crosswordWidth" @input="updateCrosswordModel()"
                                               icon-pack="fas"></b-numberinput>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field label="Crossword height">
                                <b-numberinput v-model="crosswordHeight" icon-pack="fas"
                                               @input="updateCrosswordModel()"></b-numberinput>
                            </b-field>
                        </div>
                    </div>
                    <b-field label="Drawing mode">
                        <div :class="['crossword-square draw-mode-changer', {'letter': drawMode}]"
                             @click="drawMode = drawMode ? 0 : 1"></div>
                    </b-field>
                </div>
                <div class="mt-5 crossword-preview is-flex is-flex-direction-column">
                    <div v-for="(row, $ri) in crosswordModel" :key="'row' + $ri"
                         class="crossword-row is-flex is-justify-content-center">
                        <div v-for="(col, $ci) in row" :key="'col' + $ri + $ci"
                             :class="['crossword-square', {'letter': temporaryModel[$ri][$ci]}]"
                             @mousedown="startDrawing([$ri, $ci])"
                             @mouseenter="drawWord([$ri, $ci])"
                             @mouseup="finishDrawing([$ri, $ci])"></div>
                    </div>
                </div>
                <div class="mt-5 has-text-centered">
                    Number of words: {{ placesInCrossing.length }}
                </div>
            </div>
        </b-step-item>

        <b-step-item step="2" label="Give words" :clickable="placesInCrossing.length > 1">
            <div v-if="activeStep == 1">
                <h1 class="title has-text-centered">Give words</h1>
                <p class="subtitle has-text-centered">
                    If the crossword is ready, provide a word definitions you guessed and then solve the crossword.
                </p>
                <crossword-preview :model="crosswordModel"
                                   :solution="solutions[currentSolution]"></crossword-preview>
                <div class="has-text-centered mt-2" v-if="words.length > 0">
                    <div v-if="solutions.length > 1">
                        Possible other solutions: {{ solutions.length - 1 }}{{ solutions.length > 100 ? '+' : '' }}.
                        <a @click="currentSolution = currentSolution + 1 >= solutions.length ? 0 : currentSolution + 1">&raquo;</a>
                    </div>
                    <div class="has-text-success" v-else-if="solutions.length === 1">
                        This is the only solution.
                    </div>
                    <div class="has-text-danger" v-else-if="solutionCounter < 10000">
                        No solution found.
                    </div>
                    <div class="has-text-danger" v-else>
                        Too complicated. Please add more words.
                    </div>
                    <div class="is-size-7 has-text-centered mt-1" v-if="solutionCounter > 0">
                        iterations: {{ solutionCounter }}
                    </div>
                </div>
                <div class="container">
                    <add-word-form @added="addWord($event)"></add-word-form>
                    <div class="columns my-5">
                        <div class="column">
                            <div class="panel">
                                <div class="panel-block" v-for="(word, $i) in words" :key="'word' + $i">
                                    <div class="is-flex-grow-1 crossword-word">
                                        <a @click="editWord(word)" class="is-flex-grow-1 crossword-word">
                                            <span v-for="alternative in word.alternatives"
                                                  :class="{'has-text-weight-bold': solutions[currentSolution].words.indexOf(alternative) >= 0}">
                                                {{ alternative }}
                                                ({{ alternative.length }})
                                            </span>
                                        </a>
                                    </div>
                                    <a @click="editDefinition(word)" v-if="word.definition" class="is-size-7">
                                        {{ word.definition }}
                                    </a>
                                    <a @click="editDefinition(word)" v-else class="is-size-7"><em>no definition</em></a>
                                    <button class="delete ml-2" @click="deleteWord(word)"></button>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <p class="mb-3">Number of words: {{words.length}} / {{ placesInCrossing.length }}</p>
                            <p v-for="stat in wordsInCrossingStats(solutions[currentSolution] ? solutions[currentSolution].words : [])"
                               :class="{'has-text-success': stat.words === stat.places, 'has-text-danger': stat.words > stat.places}">
                                {{ stat.length }}-letter words: {{ stat.words }} / {{ stat.places }}
                            </p>
                            <b-field grouped group-multiline class="mt-4">
                                <div class="control"
                                     v-for="letterStat in lettersInCrossingStats(solutions[currentSolution])">
                                    <b-taglist attached>
                                        <b-tag type="is-dark">{{ letterStat.letter }}</b-tag>
                                        <b-tag type="is-info">{{ letterStat.count }}</b-tag>
                                    </b-taglist>
                                </div>
                            </b-field>
                        </div>
                    </div>
                </div>
            </div>
        </b-step-item>
    </b-steps>

    <div class="has-text-centered">
        <b-button v-clipboard:copy="getCrosswordRepresentation()">Copy crossword to clipboard</b-button>
        <b-button @click="pasteCrossword()">Init crossword from copied model</b-button>
        <b-button @click="restart()">Start new crossing</b-button>
    </div>
</section>
<script src="https://unpkg.com/vue@2"></script>
<script src="https://cdn.jsdelivr.net/gh/Inndy/vue-clipboard2/dist/vue-clipboard.min.js"></script>
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
<script>
    function deepClone(object) {
        return JSON.parse(JSON.stringify(object));
    }

    const CrosswordPreview = {
        name: 'CrosswordPreview',
        props: ['model', 'solution'],
        template: `
          <div class="mt-5 crossword-preview is-flex is-flex-direction-column">
          <div v-for="(row, $ri) in model" :key="'row' + $ri"
               class="crossword-row is-flex is-justify-content-center">
            <div v-for="(col, $ci) in row" :key="'col' + $ri + $ci"
                 :class="['crossword-square', {'letter': model[$ri][$ci]}]">
              <span v-if="solution && solution[$ri][$ci] !== 1 && solution[$ri][$ci] !== 0">
                {{ solution[$ri][$ci] }}
              </span>
            </div>
          </div>
          </div>
        `,
    };

    const AddWordForm = {
        data() {
            return {
                newWord: {word: ''},
            };
        },
        methods: {
            addWord() {
                if (this.newWord.word.trim()) {
                    this.$emit('added', this.newWord);
                }
                this.newWord = {word: ''};
            }
        },
        template: `
          <form @submit.prevent="addWord()">
          <b-field label="Word to crossword">
            <b-input v-model="newWord.word"></b-input>
          </b-field>
          <b-field label="Definition (optional)">
            <b-input v-model="newWord.definition"></b-input>
          </b-field>
          <b-button native-type="submit">Add word</b-button>
          </form>
        `,
    };

    new Vue({
        el: '#app',
        components: {CrosswordPreview, AddWordForm},
        data() {
            return {
                activeStep: 0,
                crosswordWidth: 14,
                crosswordHeight: 14,
                crosswordModel: [[]],
                temporaryModel: [],
                drawMode: 1,
                drawingStart: undefined,
                mouseUpCatcher: undefined,
                words: [],
                solutions: [],
                solutionCounter: 0,
                currentSolution: 0,
                disablePreview: true,
            }
        },
        mounted() {
            this.updateCrosswordModel();
            this.mouseUpCatcher = () => this.finishDrawing();
            window.addEventListener('mouseup', this.mouseUpCatcher);
            const fromLocalStorage = localStorage.getItem('jolka');
            if (fromLocalStorage) {
                this.loadCrossword(fromLocalStorage);
            }
        },
        beforeDestroy() {
            window.removeEventListener('mouseup', this.mouseUpCatcher);
        },
        methods: {
            updateCrosswordModel() {
                const newCrosswordModel = new Array(this.crosswordHeight).fill(0).map(() => new Array(this.crosswordWidth).fill(0));
                this.crosswordModel = newCrosswordModel;
                for (let i = 0; i < Math.min(this.crosswordHeight, this.temporaryModel.length - 1); i++) {
                    for (let j = 0; j < Math.min(this.crosswordWidth, this.temporaryModel[0].length - 1); j++) {
                        this.crosswordModel[i][j] = this.temporaryModel[i][j];
                    }
                }
                this.temporaryModel = deepClone(this.crosswordModel);
            },
            startDrawing(coords) {
                this.drawingStart = coords;
                this.drawWord(coords);
            },
            drawWord(coords) {
                if (this.drawingStart) {
                    this.temporaryModel = deepClone(this.crosswordModel);
                    const fromRow = Math.min(this.drawingStart[0], coords[0]);
                    const toRow = Math.max(this.drawingStart[0], coords[0]);
                    const fromCol = Math.min(this.drawingStart[1], coords[1]);
                    const toCol = Math.max(this.drawingStart[1], coords[1]);
                    if (fromRow === toRow) { // horizontal word
                        for (let i = fromCol; i <= toCol; i++) {
                            this.temporaryModel[fromRow][i] = this.drawMode;
                        }
                    } else if (fromCol === toCol) { // verticalWord
                        for (let i = fromRow; i <= toRow; i++) {
                            this.temporaryModel[i][fromCol] = this.drawMode;
                        }
                    }
                }
            },
            finishDrawing() {
                this.crosswordModel = this.temporaryModel;
                this.drawingStart = undefined;
                this.saveInLocalStorage();
            },
            pasteCrossword() {
                const pasted = prompt('Crossword model you have copied before');
                this.loadCrossword(pasted);
            },
            loadCrossword(crossword) {
                const parsed = JSON.parse(crossword);
                if (parsed && parsed.crosswordModel) {
                    this.crosswordModel = parsed.crosswordModel;
                    this.temporaryModel = deepClone(this.crosswordModel);
                    this.crosswordWidth = this.crosswordModel[0].length;
                    this.crosswordHeight = this.crosswordModel.length;
                    this.words = parsed.words.map(word => {
                        if (!word.alternatives) {
                            word.alternatives = [word.word];
                        }
                        if (word.word) {
                            delete word.word;
                        }
                        return word;
                    })
                    if (this.words.length) {
                        this.activeStep = 1;
                        this.solve();
                    }
                }
            },
            addWord(newWord) {
                const alternatives = this.splitWord(newWord.word);
                for (let word of alternatives) {
                    if (this.wordExists(word)) {
                        alert(`Word ${word} already exists!`);
                        return;
                    }
                }
                if (alternatives.length) {
                    const definition = newWord.definition?.trim() || '';
                    this.words.push({alternatives, definition});
                    this.solve();
                }
            },
            wordExists(w) {
                return this.words.filter(word => word.alternatives.indexOf(w) >= 0).length > 0;
            },
            editWord(word) {
                const fixed = prompt('Fix word', word.alternatives.join('/'));
                if (fixed) {
                    const words = this.splitWord(fixed);
                    for (let word of words) {
                        if (this.wordExists(word)) {
                            alert(`Word ${word} already exists!`);
                            return;
                        }
                    }
                    word.alternatives = words;
                    this.solve();
                } else if (fixed === '') {
                    this.deleteWord(word);
                }
            },
            splitWord(word) {
                return (word || '').trim().toUpperCase().split('/').map(w => w.trim()).filter(w => w);
            },
            editDefinition(word) {
                word.definition = prompt('Fix definition', word.definition);
                this.saveInLocalStorage();
            },
            deleteWord(word) {
                this.words.splice(this.words.indexOf(word), 1);
                this.solve();
            },
            solve() {
                console.log('solve');
                console.time('solve');
                if (this.words.length && this.placesInCrossing.length > 1) {
                    this.saveInLocalStorage();
                    const wordsByLength = this.words.sort((w1, w2) => w2.alternatives[0].length - w1.alternatives[0].length);
                    let solutionCounter = 0;
                    let currentModels = [deepClone(this.crosswordModel)];
                    currentModels[0].words = [];
                    try {
                        for (const word of wordsByLength) {
                            const nextWordModels = [];
                            const alternatives = word.alternatives;
                            for (const alternative of alternatives) {
                                const possiblePlaces = this.placesInCrossing.filter((place) => place.length === alternative.length);
                                for (const model of currentModels) {
                                    if (solutionCounter++ > 9998) {
                                        throw new Error('too complicated');
                                    }
                                    for (let possiblePlace of possiblePlaces) {
                                        try {
                                            const newModel = this.writeWord(alternative, possiblePlace, deepClone(model));
                                            newModel.words = [...model.words, alternative];
                                            nextWordModels.push(newModel);
                                        } catch (error) {
                                            // ignore this model - impossible
                                        }
                                    }
                                }
                            }
                            currentModels = nextWordModels;
                        }
                        this.currentSolution = 0;
                        this.solutions = currentModels.slice(0, 101);
                        this.solutionCounter = solutionCounter;
                    } catch (e) {
                        this.solutions = [];
                        this.currentSolution = 0;
                        this.solutionCounter = solutionCounter;
                    }
                }
                console.timeEnd('solve');
            },
            writeWord(word, place, model) {
                if (place.direction === 'horizontal') {
                    for (let i = 0; i < place.length; i++) {
                        const char = word.charAt(i);
                        if (model[place.startRow][place.startCol + i] === 1 || model[place.startRow][place.startCol + i] === char) {
                            model[place.startRow][place.startCol + i] = char;
                        } else {
                            throw new Error('Does not suit');
                        }
                    }
                } else {
                    for (let i = 0; i < place.length; i++) {
                        const char = word.charAt(i);
                        if (model[place.startRow + i][place.startCol] === 1 || model[place.startRow + i][place.startCol] === char) {
                            model[place.startRow + i][place.startCol] = char;
                        } else {
                            throw new Error('Does not suit');
                        }
                    }
                }
                return model;
            },
            saveInLocalStorage() {
                localStorage.setItem('jolka', this.getCrosswordRepresentation());
            },
            restart() {
                if (confirm('All changes will be lost unless you saved it!')) {
                    localStorage.removeItem('jolka');
                    window.location.href = window.location.toString();
                }
            },
            getCrosswordRepresentation() {
                console.log('crosswordRepresentation');
                return JSON.stringify({
                    crosswordModel: this.crosswordModel,
                    words: this.words,
                });
            },
            wordsInCrossingStats(words) {
                console.log('wordsInCrossingStats');
                const placesByLength = {};
                this.placesInCrossing.forEach((place) => {
                    if (!placesByLength[place.length]) {
                        placesByLength[place.length] = 0;
                    }
                    placesByLength[place.length]++;
                });
                const wordsByLength = {};
                words.forEach((word) => {
                    if (!wordsByLength[word.length]) {
                        wordsByLength[word.length] = 0;
                    }
                    wordsByLength[word.length]++;
                });
                const stats = [];
                for (const length in placesByLength) {
                    stats.push({length: +length, places: placesByLength[length], words: wordsByLength[length] || 0});
                }
                for (const length in wordsByLength) {
                    if (!placesByLength[length]) {
                        stats.push({length: +length, places: 0, words: wordsByLength[length]});
                    }
                }
                stats.sort((w1, w2) => w1.length - w2.length);
                return stats;
            },
            lettersInCrossingStats(solution) {
                if (!solution) {
                    return [];
                }
                const letters = {};
                solution.forEach(row => {
                    row.forEach(letter => {
                        if (letter !== 0 && letter !== 1) {
                            if (!letters[letter]) {
                                letters[letter] = 0;
                            }
                            ++letters[letter];
                        }
                    });
                });
                const stats = [];
                for (let letter in letters) {
                    stats.push({letter, count: letters[letter]});
                }
                return stats.sort((a, b) => a.letter.localeCompare(b.letter));
            },
        },
        computed: {
            placesInCrossing() {
                console.log('placesInCrossing');
                const words = [];
                for (let row = 0; row < this.crosswordModel.length; row++) {
                    for (let col = 0; col < this.crosswordModel[0].length; col++) {
                        const currentIsLetter = !!this.crosswordModel[row][col];
                        const isWordStartHorizontal = currentIsLetter && (col === 0 || !this.crosswordModel[row][col - 1]);
                        const isWordStartVertical = currentIsLetter && (row === 0 || !this.crosswordModel[row - 1][col]);
                        if (isWordStartHorizontal) {
                            let finishCol = col;
                            for (let letter = col + 1; letter < this.crosswordWidth && this.crosswordModel[row][letter]; letter++) {
                                finishCol = letter;
                            }
                            if (finishCol !== col) {
                                words.push({
                                    direction: 'horizontal',
                                    startRow: row,
                                    startCol: col,
                                    length: finishCol - col + 1,
                                });
                            }
                        }
                        if (isWordStartVertical) {
                            let finishRow = row;
                            for (let letter = row + 1; letter < this.crosswordHeight && this.crosswordModel[letter][col]; letter++) {
                                finishRow = letter;
                            }
                            if (finishRow !== row) {
                                words.push({
                                    direction: 'vertical',
                                    startRow: row,
                                    startCol: col,
                                    length: finishRow - row + 1,
                                });
                            }
                        }
                    }
                }
                return words;
            },
            justWords() {
                return this.words.map(({word}) => word);
            },
        },
    });
</script>

</body>
</html>
