<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jolka Solver</title>
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <style>
        .crossword-preview {
            user-select: none;
        }

        .crossword-square {
            height: 35px;
            width: 35px;
            line-height: 35px;
            border: 1px solid grey;
            text-align: center;
            border-bottom-width: 0;
            border-right-width: 0;
            background: black;
        }

        .crossword-square.letter {
            background: white;
        }

        .crossword-square:last-child {
            border-right-width: 1px;
        }

        .crossword-row:last-child .crossword-square {
            border-bottom-width: 1px;
        }

        .draw-mode-changer {
            display: inline-block;
            border-bottom-width: 1px;
        }

        .crossword-word {
            text-transform: uppercase;
        }
    </style>
</head>
<body>
<section class="section" id="app">
    <h1 class="title">
        Jolka Solver
    </h1>

    <b-steps
            @input="solve()"
            v-model="activeStep"
            :animated="true"
            :has-navigation="false">
        <b-step-item step="1" label="Design crossword" :clickable="true">
            <div v-if="activeStep == 0">
                <h1 class="title has-text-centered">Design crossword</h1>
                <p class="subtitle has-text-centered">
                    Set the size of the crossword field (in <em>letter squares</em>unit), then draw the crossword.
                </p>
                <div class="container has-text-centered">
                    <div class="columns">
                        <div class="column">
                            <b-field label="Crossword width">
                                <b-numberinput v-model="crosswordWidth" @input="updateCrosswordModel()"></b-numberinput>
                            </b-field>
                        </div>
                        <div class="column">
                            <b-field label="Crossword height">
                                <b-numberinput v-model="crosswordHeight"
                                               @input="updateCrosswordModel()"></b-numberinput>
                            </b-field>
                        </div>
                    </div>
                    <b-field label="Drawing mode">
                        <div :class="['crossword-square draw-mode-changer', {'letter': drawMode}]"
                             @click="drawMode = drawMode ? 0 : 1"></div>
                    </b-field>
                </div>
                <div class="mt-5 crossword-preview is-flex is-flex-direction-column">
                    <div v-for="(row, $ri) in crosswordModel" :key="'row' + $ri"
                         class="crossword-row is-flex is-justify-content-center">
                        <div v-for="(col, $ci) in row" :key="'col' + $ri + $ci"
                             :class="['crossword-square', {'letter': temporaryModel[$ri][$ci]}]"
                             @mousedown="startDrawing([$ri, $ci])"
                             @mouseenter="drawWord([$ri, $ci])"
                             @mouseup="finishDrawing([$ri, $ci])"></div>
                    </div>
                </div>
                <div class="mt-5 has-text-centered">
                    Number of words: {{ placesInCrossing.length }}
                </div>
            </div>
        </b-step-item>

        <b-step-item step="2" label="Give words" :clickable="placesInCrossing.length > 1">
            <div v-if="activeStep == 1">
                <h1 class="title has-text-centered">Give words</h1>
                <p class="subtitle has-text-centered">
                    If the crossword is ready, provide a word definitions you guessed and then solve the crossword.
                </p>
                <div class="mt-5 crossword-preview is-flex is-flex-direction-column">
                    <div v-for="(row, $ri) in crosswordModel" :key="'row' + $ri"
                         class="crossword-row is-flex is-justify-content-center">
                        <div v-for="(col, $ci) in row" :key="'col' + $ri + $ci"
                             :class="['crossword-square', {'letter': temporaryModel[$ri][$ci]}]">
                            <span v-if="solutions[0] && solutions[0][$ri][$ci] !== 1 && solutions[0][$ri][$ci] !== 0">
                                {{ solutions[0][$ri][$ci]}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="has-text-centered mt-2" v-if="solutions.length > 1">
                    Possible other solutions: {{ solutions.length - 1 }}.
                </div>
                <div class="has-text-centered mt-2 has-text-success" v-else-if="solutions.length === 1">
                    This is the only solution.
                </div>
                <div class="has-text-centered mt-2 has-text-danger" v-else>
                    No solution found.
                </div>
                <div class="is-size-7 has-text-centered mt-1" v-if="solutionCounter > 0">
                    iterations: {{ solutionCounter }}
                </div>
                <div class="container">
                    <form @submit.prevent="addWord()">
                        <b-field label="Word to crossword">
                            <b-input v-model="newWord.word"></b-input>
                        </b-field>
                        <b-field label="Definition (optional)">
                            <b-input v-model="newWord.definition"></b-input>
                        </b-field>
                        <b-button native-type="submit">Add word</b-button>
                    </form>
                    <div class="columns my-5">
                        <div class="column">
                            <div class="panel">
                                <div class="panel-block" v-for="word in words" :key="word.word">
                                    <a @click="editWord(word)" class="is-flex-grow-1 crossword-word">
                                        {{ word.word }}
                                        ({{ word.word.length }})
                                    </a>
                                    <a @click="editDefinition(word)" v-if="word.definition" class="is-size-7">
                                        {{ word.definition }}
                                    </a>
                                    <a @click="editDefinition(word)" v-else class="is-size-7"><em>no definition</em></a>
                                    <button class="delete ml-2" @click="deleteWord(word)"></button>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <p class="mb-3">Number of words: {{words.length}} / {{ placesInCrossing.length }}</p>
                            <p v-for="stat in wordsInCrossingStats"
                               :class="{'has-text-success': stat.words === stat.places, 'has-text-danger': stat.words > stat.places}">
                                {{ stat.length }}-letter words: {{ stat.words }} / {{ stat.places }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </b-step-item>
    </b-steps>

    <div class="has-text-centered">
        <b-button v-clipboard:copy="crosswordRepresentation">Copy crossword to clipboard</b-button>
        <b-button @click="pasteCrossword()">Init crossword from copied model</b-button>
    </div>
</section>
<script src="https://unpkg.com/vue@2"></script>
<script src="https://cdn.jsdelivr.net/gh/Inndy/vue-clipboard2/dist/vue-clipboard.min.js"></script>
<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
<script>
    function deepClone(object) {
        return JSON.parse(JSON.stringify(object));
    }

    new Vue({
        el: '#app',
        data() {
            return {
                activeStep: 1,
                crosswordWidth: 14,
                crosswordHeight: 14,
                crosswordModel: [[]],
                temporaryModel: [],
                // temporaryModel: [[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0], [1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0], [1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1], [1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0], [1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0], [1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0], [0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0], [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0]],
                drawMode: 1,
                drawingStart: undefined,
                mouseUpCatcher: undefined,
                words: [],
                newWord: {},
                solutions: [],
                solutionCounter: 0,
            }
        },
        mounted() {
            this.updateCrosswordModel();
            this.mouseUpCatcher = () => this.finishDrawing();
            window.addEventListener('mouseup', this.mouseUpCatcher);
            const fromLocalStorage = localStorage.getItem('jolka');
            if (fromLocalStorage) {
                this.loadCrossword(fromLocalStorage);
            }
        },
        beforeDestroy() {
            window.removeEventListener('mouseup', this.mouseUpCatcher);
        },
        methods: {
            updateCrosswordModel() {
                const newCrosswordModel = new Array(this.crosswordHeight).fill(0).map(() => new Array(this.crosswordWidth).fill(0));
                this.crosswordModel = newCrosswordModel;
                for (let i = 0; i < Math.min(this.crosswordHeight, this.temporaryModel.length - 1); i++) {
                    for (let j = 0; j < Math.min(this.crosswordWidth, this.temporaryModel[0].length - 1); j++) {
                        this.crosswordModel[i][j] = this.temporaryModel[i][j];
                    }
                }
                this.temporaryModel = deepClone(this.crosswordModel);
            },
            startDrawing(coords) {
                this.drawingStart = coords;
                this.drawWord(coords);
            },
            drawWord(coords) {
                if (this.drawingStart) {
                    this.temporaryModel = deepClone(this.crosswordModel);
                    const fromRow = Math.min(this.drawingStart[0], coords[0]);
                    const toRow = Math.max(this.drawingStart[0], coords[0]);
                    const fromCol = Math.min(this.drawingStart[1], coords[1]);
                    const toCol = Math.max(this.drawingStart[1], coords[1]);
                    if (fromRow === toRow) { // horizontal word
                        for (let i = fromCol; i <= toCol; i++) {
                            this.temporaryModel[fromRow][i] = this.drawMode;
                        }
                    } else if (fromCol === toCol) { // verticalWord
                        for (let i = fromRow; i <= toRow; i++) {
                            this.temporaryModel[i][fromCol] = this.drawMode;
                        }
                    }
                }
            },
            finishDrawing() {
                this.crosswordModel = this.temporaryModel;
                this.drawingStart = undefined;
                this.saveInLocalStorage();
            },
            pasteCrossword() {
                const pasted = prompt('Crossword model you have copied before');
                this.loadCrossword(pasted);
            },
            loadCrossword(crossword) {
                const parsed = JSON.parse(crossword);
                console.log(parsed);
                if (parsed && parsed.crosswordModel) {
                    this.crosswordModel = parsed.crosswordModel;
                    this.temporaryModel = deepClone(this.crosswordModel);
                    this.crosswordWidth = this.crosswordModel[0].length;
                    this.crosswordHeight = this.crosswordModel.length;
                    this.words = parsed.words;
                    this.solve();
                }
            },
            addWord() {
                const word = this.newWord.word.trim().toUpperCase();
                const definition = this.newWord.definition?.trim() || '';
                this.words.push({word, definition});
                this.newWord = {};
                this.saveInLocalStorage();
                this.solve();
            },
            editWord(word) {
                const fixed = prompt('Fix word', word.word);
                word.word = fixed.trim().toUpperCase();
                if (!word.word) {
                    this.deleteWord(word);
                }
                this.saveInLocalStorage();
                this.solve();
            },
            editDefinition(word) {
                word.definition = prompt('Fix definition', word.definition);
                this.saveInLocalStorage();
            },
            deleteWord(word) {
                this.words.splice(this.words.indexOf(word), 1);
                this.saveInLocalStorage();
                this.solve();
            },
            solve() {
                if (this.words.length && this.placesInCrossing.length > 1) {
                    const wordsByLength = this.justWords.sort((w1, w2) => w2.length - w1.length);
                    let solutionCounter = 0;
                    let currentModels = [deepClone(this.crosswordModel)];
                    for (const word of wordsByLength) {
                        const nextWordModels = [];
                        const possiblePlaces = this.placesInCrossing.filter((place) => place.length === word.length);
                        for (const model of currentModels) {
                            solutionCounter++;
                            for (let possiblePlace of possiblePlaces) {
                                try {
                                    nextWordModels.push(this.writeWord(word, possiblePlace, deepClone(model)));
                                } catch (error) {
                                    // ignore this model - impossible
                                }
                            }
                        }
                        currentModels = nextWordModels;
                    }
                    this.solutions = currentModels;
                    this.solutionCounter = solutionCounter;
                }
            },
            writeWord(word, place, model) {
                if (place.direction === 'horizontal') {
                    for (let i = 0; i < place.length; i++) {
                        const char = word.charAt(i);
                        if (model[place.startRow][place.startCol + i] === 1 || model[place.startRow][place.startCol + i] === char) {
                            model[place.startRow][place.startCol + i] = char;
                        } else {
                            throw new Error('Does not suit');
                        }
                    }
                } else {
                    for (let i = 0; i < place.length; i++) {
                        const char = word.charAt(i);
                        if (model[place.startRow + i][place.startCol] === 1 || model[place.startRow + i][place.startCol] === char) {
                            model[place.startRow + i][place.startCol] = char;
                        } else {
                            throw new Error('Does not suit');
                        }
                    }
                }
                return model;
            },
            saveInLocalStorage() {
                localStorage.setItem('jolka', this.crosswordRepresentation);
            },
        },
        computed: {
            placesInCrossing() {
                console.log('placesInCrossing');
                const words = [];
                for (let row = 0; row < this.crosswordModel.length; row++) {
                    for (let col = 0; col < this.crosswordModel[0].length; col++) {
                        const currentIsLetter = !!this.crosswordModel[row][col];
                        const isWordStartHorizontal = currentIsLetter && (col === 0 || !this.crosswordModel[row][col - 1]);
                        const isWordStartVertical = currentIsLetter && (row === 0 || !this.crosswordModel[row - 1][col]);
                        if (isWordStartHorizontal) {
                            let finishCol = col;
                            for (let letter = col + 1; letter < this.crosswordWidth && this.crosswordModel[row][letter]; letter++) {
                                finishCol = letter;
                            }
                            if (finishCol !== col) {
                                words.push({
                                    direction: 'horizontal',
                                    startRow: row,
                                    startCol: col,
                                    length: finishCol - col + 1,
                                });
                            }
                        }
                        if (isWordStartVertical) {
                            let finishRow = row;
                            for (let letter = row + 1; letter < this.crosswordHeight && this.crosswordModel[letter][col]; letter++) {
                                finishRow = letter;
                            }
                            if (finishRow !== row) {
                                words.push({
                                    direction: 'vertical',
                                    startRow: row,
                                    startCol: col,
                                    length: finishRow - row + 1,
                                });
                            }
                        }
                    }
                }
                return words;
            },
            justWords() {
                return this.words.map(({word}) => word);
            },
            wordsInCrossingStats() {
                console.log('wordsInCrossingStats');
                const placesByLength = {};
                this.placesInCrossing.forEach((place) => {
                    if (!placesByLength[place.length]) {
                        placesByLength[place.length] = 0;
                    }
                    placesByLength[place.length]++;
                });
                const wordsByLength = {};
                this.justWords.forEach((word) => {
                    if (!wordsByLength[word.length]) {
                        wordsByLength[word.length] = 0;
                    }
                    wordsByLength[word.length]++;
                });
                const stats = [];
                for (const length in placesByLength) {
                    stats.push({length: +length, places: placesByLength[length], words: wordsByLength[length] || 0});
                }
                for (const length in wordsByLength) {
                    if (!placesByLength[length]) {
                        stats.push({length: +length, places: 0, words: wordsByLength[length]});
                    }
                }
                stats.sort((w1, w2) => w1.length - w2.length);
                return stats;
            },
            crosswordRepresentation() {
                console.log('crosswordRepresentation');
                return JSON.stringify({
                    crosswordModel: this.crosswordModel,
                    words: this.words,
                });
            },
        },
    });
</script>

</body>
</html>
